body {
  font-family: sans-serif;
  height: 100%;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.player-hand {
  display: flex;
  background-color: mediumpurple;
  justify-content: center;
  max-height: 250px;
}

.card {
  margin: 5px;
  position: relative;
  float: left;
}

.card-selected {
  border: solid red 5px;
  position: relative;
  float: left;
}

.card-image {
  max-width: 100%;
  max-height: 250px;
  position: relative;
  float: left;
}

.card-buttons {
  position: absolute;
  margin-top: 100px;
}

.player-hand-navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  transition: 0.5s;
  bottom: 0;
  width: 100%;
}

.ui.container {
  width: 450px !important;
}

/* .ui.grid.row {
  transition: margin-bottom .5s;
  padding: 20px;
} */

/*/////// NAVBAR ////////////*/

.navbar {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
}

.navbar nav {
  display: flex;
}

.exit-game-btn,
.navbar nav a {
  color: lightblue;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  margin: 0.25em;
  transition: all 0.35s ease;
  cursor: pointer;
}

.logo {
  color: lightblue;
  font-size: 2em;
}

/*/////  APP CONTAINER ////////*/

.app-container {
  text-align: center;
}

span.coin {
  text-align: right !important;
}
/*////  LOBBY ////////*/

#lobby-header {
  margin-top: 20px;
  font-size: 2.2em;
}

.lobby {
  background-color: cornsilk;
  position: absolute;
  height: 100%;
  width: 100%;
}

.gameroom-snapshot {
  margin: 20px;
}

.snapshot-header {
  font-size: 1.4em;
  background-color: rgb(59, 139, 236);
  color: white;
  height: 1.5em;
  line-height: 1.5em;
}

.snapshot-delete-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.waiting-players {
  font-size: 1.2em;
}

.waiting-players-container {
  display: flex;
  flex-wrap: wrap;
}

.waiting-player-item {
  width: 100%;
}

.waiting-players-container > div {
  flex: 0 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gameroom-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 60px;
}

.game-table {
  width: 100%;
  position: fixed;
  top: 0px;
  margin-top: 60px;
  bottom: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.my-row {
  display: flex;
  justify-content: center;
}

.my-container {
  margin-top: 150px;
}

.neighbors-row {
  display: flex;
  justify-content: center;
}

.neighbor-container {
  margin: 25px 50px;
}

.others-row {
  display: flex;
  justify-content: center;
}

.other-container {
  margin: 25px 150px;
}

/*//// Trade Items ////////*/

.trade-item-selected {
  border: 1px maroon solid;
  border-radius: 2px;
}

.played-card-icon {
  max-height: 30px;
}
